<form #passwordForm="ngForm">
    <div class="modal-header">
        <h5 class="modal-title">Change Password for {{ account.name }}</h5>
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group mb-3">
            <label for="passwordType">Password Type:</label>
            <select class="form-control" [(ngModel)]="passwordType" name="passwordType">
                <option value="master">Master</option>
                <option value="investor">Investor</option>
                <option value="api">API</option>
            </select>
        </div>
        <hr> 
        <div class="form-group mb-3">
            <label for="currentPassword">Current Password:</label>
            <input type="text" class="form-control" [(ngModel)]="currentPassword" name="currentPassword">
            <button type="button" class="btn btn-info mt-2" [disabled]="currentPassword==''" (click)="checkPassword()">Check Password</button>
            <div *ngIf="isPasswordChecked && !isPasswordValid" class="text-danger mt-2">Incorrect password. Please try again.</div>
            <div *ngIf="isPasswordChecked && isPasswordValid" class="text-success mt-2">Password is correct.</div>
        </div>
        <hr> 
        <div class="form-group mb-3">
            <label for="newPassword">New Password:</label>
            <input type="text" class="form-control" [(ngModel)]="newPassword" name="newPassword" required>
            <div *ngIf="newPassword?.length === 0 && passwordForm.submitted" class="text-danger">Password is required.</div>
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm Password:</label>
            <input type="text" class="form-control" [(ngModel)]="confirmPassword" name="confirmPassword" required>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
        <button type="button" class="btn btn-primary" [disabled]="!passwordForm.valid || (newPassword !== confirmPassword)" (click)="changePassword()">Save changes</button>
    </div>
</form>