<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
        {{'CLIENTACCOUNTS.CONNECT.TEXT' | translate }}
      </h4>
    <button type="button" class="btn-close" aria-label="Close" (mousedown)="close()"></button>
</div>

<div class="modal-body">
    <form (ngSubmit)="connectAccount()" [formGroup]="accountForm" class="tablelist-form" autocomplete="off">
        <!-- <input type="hidden" name="id" formControlName="ids" /> -->
        <div class="row g-3 mb-3">
            <div class="col-lg-12">
                <div>
                    <label for="login" class="form-label">
                        {{'CLIENTACCOUNTS.LOGIN.TEXT' | translate }}
                         </label>
                    <input type="text" id="login" class="form-control" placeholder="{{'ENTERLOGIN'|translate}}" required
                        formControlName="login"
                        [ngClass]="{ 'is-invalid': submitted && accountForm.controls['login'].errors }" />
                    <div *ngIf="submitted && accountForm.controls['login'].errors" class="invalid-feedback"
                        align="left">
                        <div *ngIf="accountForm.controls['login'].errors['required']">
                            {{'CLIENTACCOUNTS.LOGINREQ.TEXT' | translate }}
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div>
                    <label>{{'CLIENTACCOUNTS.SELECTPLAT.TEXT' | translate }}</label>
                    <select class="form-select form-select" formControlName="platform">
                        <option *ngFor="let platform of platforms" [value]="platform.value">
                            {{platform.name | translate }}
                        </option>
                    </select>
                    <div *ngIf="submitted && accountForm.controls['platform'].errors" class="invalid-feedback"
                        align="left">
                        <div *ngIf="accountForm.controls['platform'].errors['required']">
                            {{'CLIENTACCOUNTS.PLATREQ.TEXT' | translate }}
                            </div>
                    </div>
                </div>
            </div>
            <!--end col-->
            <div class="col-lg-12">
                <div>
                    <label for="masterPassword" class="form-label">{{'CLIENTACCOUNTS.MPASS.TEXT' | translate }}</label>
                    <input type="text" id="masterPassword" class="form-control" placeholder="{{'ENTERMASTERPASS'|translate}}"
                        required formControlName="masterPassword"
                        [ngClass]="{ 'is-invalid': submitted && accountForm.controls['masterPassword'].errors }" />
                    <div *ngIf="submitted && accountForm.controls['masterPassword'].errors" class="invalid-feedback"
                        align="left">
                        <div *ngIf="accountForm.controls['masterPassword'].errors['required']">{{'CLIENTACCOUNTS.MPASSREQ.TEXT' | translate }}
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-12">
                <div>
                    <label for="investorPassword" class="form-label">{{'CLIENTACCOUNTS.IPASS.TEXT' | translate }}</label>
                    <input type="text" id="investorPassword" class="form-control" placeholder="{{'ENTERIPASS'|translate}}"
                        required formControlName="investorPassword"
                        [ngClass]="{ 'is-invalid': submitted && accountForm.controls['investorPassword'].errors }" />
                    <div *ngIf="submitted && accountForm.controls['investorPassword'].errors" class="invalid-feedback"
                        align="left">
                        <div *ngIf="accountForm.controls['investorPassword'].errors['required']">{{'CLIENTACCOUNTS.IPASSREQ.TEXT' | translate }}
                        </div>
                    </div>
                </div>
            </div> -->


        </div>
        <!--end row-->
        <div class="hstack gap-2 justify-content-end ">
            <!-- <button type="button" class="btn btn-light" data-bs-dismiss="modal"
                        (click)="accountForm.reset()">reset</button> -->
            <button type="submit" class="btn btn-success" id="add-btn">{{'CLIENTACCOUNTS.CONNECT.TEXT' | translate }}</button>
        </div>
    </form>
</div>