<app-breadcrumbs *ngIf="!isDialog" title="DEPOSIT" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<div class="col text-center" *ngIf="loading && verified">

    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="card mb-0" *ngIf="!verified">
    <div class="card-body">
        <div class="row">

            <p class="text-warning fs-20"> {{"you can't deposit cause your account is not verified yet!"|translate}} <span><a class="cursor-pointer" (click)="openVerificationInfo()">{{"click here"|translate}}</a></span> {{"to see more info"|translate}}</p>
        </div>
        <div class="d-flex justify-content-end" *ngIf="isDialog">
<button class="btn btn-warning" (click)="close()">{{"CLOSE"|translate}}</button>
        </div>
    </div>

</div>
<div *ngIf="verified">

<div class="card mb-0" *ngIf="!loading && !accounts?.length">
    <div class="card-body text-center">
        <div class="mb-4">
            <lord-icon src="https://cdn.lordicon.com/hrqwmuhr.json" trigger="loop"
                colors="primary:#121331,secondary:#e83a30" style="width:250px;height:250px">
            </lord-icon>
        </div>
        <h5 class="text-danger fs-24 mb-5">{{'CLIENTTXS.ACCWARN1.TEXT'| translate}} <strong>{{'CLIENTTXS.LIVE.TEXT'|
                translate |lowercase}}</strong>{{'CLIENTTXS.ACCWARN2.TEXT'| translate}} </h5>
        <div class="d-flex justify-content-center gap-2">

            <button type="button" class="btn btn-success w-25 " (mousedown)="goToAccounts()">
                {{'CLIENTTXS.GOTOACC.TEXT'| translate}}</button>

            <button type="button" class="btn btn-primary  w-25" (mousedown)="goToTxHistory()">
                {{'CLIENTTXS.GOTOTXS.TEXT'| translate}} </button>
        </div>
    </div>
</div>



<form *ngIf="!loading && accounts?.length">
    <div class="card mb-0">
        <div class="card-header">
            <div class="modal-header mb-0">

                <h4 class="modal-title" id="modal-basic-title">
                    {{'CLIENTTXS.DEPOSITPROCESS.TEXT'| translate}}
                </h4>
                <button type="button" *ngIf="isDialog" class="btn-close" aria-label="Close"
                    (mousedown)="close()"></button>
            </div>
        </div><!-- end card header -->
        <!-- <ngb-accordion #acc="ngbAccordion" activeIds="static-0" [closeOthers]="true" *ngIf="!loading ">
            <ngb-panel id="static-{{1}}">
                <ng-template ngbPanelTitle>
                    <h5 class="text-warning">
                        click to show warnings!
                    </h5>
                </ng-template>
                <ng-template ngbPanelContent>
                    <p>warnings</p>
                </ng-template>
            </ngb-panel>
        </ngb-accordion> -->
        <div class="card-body form-steps">
            <div class="text-center pt-3 pb-4 mb-1">
                <h4>
                    {{'CLIENTTXS.FOLLOW.TEXT'| translate}}
                </h4>
            </div>
            <!-- <aw-wizard #stepper [navBarLayout]="'large-empty-symbols'" class="nav nav-pills progress-bar-tab custom-nav">
                <aw-wizard-step *ngIf="currentStep >= 1">
                    <ng-template awWizardStepSymbol>
                        <li class="nav-item" role="presentation">

                            <button class="nav-link rounded-pill active" data-progressbar="custom-progress-bar"
                                id="pills-gen-info-tab" data-bs-toggle="pill" data-bs-target="#pills-gen-info"
                                type="button" role="tab" aria-controls="pills-gen-info" aria-selected="true">1</button>
                        </li>
                    </ng-template>
                </aw-wizard-step>
                <aw-wizard-step *ngIf="currentStep >= 2">
                    <ng-template awWizardStepSymbol>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link rounded-pill" data-progressbar="custom-progress-bar"
                                id="pills-success-tab" data-bs-toggle="pill" data-bs-target="#pills-success"
                                type="button" role="tab" aria-controls="pills-success" aria-selected="false">2</button>
                        </li>
                    </ng-template>
                </aw-wizard-step>
                <aw-wizard-step *ngIf="currentStep >= 3">
                    <ng-template awWizardStepSymbol>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link rounded-pill" data-progressbar="custom-progress-bar"
                                id="pills-success-tab" data-bs-toggle="pill" data-bs-target="#pills-success"
                                type="button" role="tab" aria-controls="pills-success" aria-selected="false">3</button>
                        </li>
                    </ng-template>
                </aw-wizard-step>
                <aw-wizard-step *ngIf="currentStep >= 4">
                    <ng-template awWizardStepSymbol>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link rounded-pill" data-progressbar="custom-progress-bar"
                                id="pills-success-tab" data-bs-toggle="pill" data-bs-target="#pills-success"
                                type="button" role="tab" aria-controls="pills-success" aria-selected="false">4</button>
                        </li>
                    </ng-template>
                </aw-wizard-step>
                <aw-wizard-step *ngIf="currentStep >= 5">
                    <ng-template awWizardStepSymbol>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link rounded-pill" data-progressbar="custom-progress-bar"
                                id="pills-success-tab" data-bs-toggle="pill" data-bs-target="#pills-success"
                                type="button" role="tab" aria-controls="pills-success" aria-selected="false">5</button>
                        </li>
                    </ng-template>
                </aw-wizard-step>
                <aw-wizard-step *ngIf="currentStep >= 6">
                    <ng-template awWizardStepSymbol>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link rounded-pill" data-progressbar="custom-progress-bar"
                                id="pills-success-tab" data-bs-toggle="pill" data-bs-target="#pills-success"
                                type="button" role="tab" aria-controls="pills-success" aria-selected="false">6</button>
                        </li>
                    </ng-template>
                </aw-wizard-step>
            </aw-wizard> -->

            <aw-wizard #aw [@fadeInOut] [navBarLayout]="'none'" [disableNavigationBar]="true"
                class="nav nav-pills progress-bar-tab custom-nav">


                <!-- Method step -- First step -->
                <aw-wizard-step>
                    <div class="mb-3">
                        <label for="EndleaveDate" class="form-label fs-20">{{'CLIENTTXS.SELECTMETHOD.TEXT' | translate}}</label>
                        <div class="hstack gap-2 flex-wrap align-items-stretch">
                            <input type="radio" class="btn-check" id="localTransfer" name="transferMethod"
                                (change)="goToNextStep()" [value]="transferMethods.LOCAL_TRANSFER"
                                [(ngModel)]="deposit.transferMethod">
                            <label
                                class="d-flex flex-column justify-content-center align-items-center gap-2 btn btn-outline-primary card-animate"
                                for="localTransfer">
                                <!-- <i class="ri-building-4-line text-primary fs-24"></i> -->
                                <img src="/assets/images/icons/office.png" class="img-fluid" alt=""
                                    style="max-height: 50px;">
                                {{'CLIENTTXS.LOCAL.TEXT' | translate }}</label>

                            <input type="radio" class="btn-check" id="fromWallet" name="transferMethod"
                                [value]="transferMethods.WALLET" (change)="goToNextStep()"
                                [(ngModel)]="deposit.transferMethod" *ngIf="allowWallet">
                            <label
                                class="btn btn-outline-primary d-flex flex-column justify-content-center align-items-center gap-2 card-animate"
                                for="fromWallet" *ngIf="allowWallet">
                                <!-- <i class="ri-wallet-3-line text-primary fs-24"></i> -->
                                <img src="/assets/images/icons/wallet.png" class="img-fluid" alt=""
                                    style="max-height: 50px;">
                                {{'CLIENTTXS.FROMWALLET.TEXT' | translate }}</label>

                            <input type="radio" class="btn-check" id="fromCrypto" name="transferMethod"
                                [value]="transferMethods.USDT_TRANSFER" (change)="goToNextStep()"
                                [(ngModel)]="deposit.transferMethod" [ngModelOptions]="{standalone: true}" *ngIf="allowCryptoGateway">
                            <label
                                class="btn btn-outline-primary d-flex flex-column justify-content-center align-items-center gap-2 card-animate"
                                for="fromCrypto" *ngIf="allowCryptoGateway">
                                <!-- <i class=" ri-bit-coin-line text-primary fs-24"></i> -->
                                <img src="/assets/images/icons/usdt.png" class="img-fluid" alt=""
                                    style="max-height: 50px;">
                                {{'CLIENTTXS.FROMCRYPTO.TEXT' | translate }}</label>
                                
                            <input type="radio" class="btn-check" id="moneyTransfer" name="transferMethod"
                                (change)="goToNextStep()" [value]="transferMethods.MONEY_TRANSFER"
                                [(ngModel)]="deposit.transferMethod">
                            <label
                                class="btn btn-outline-primary d-flex flex-column justify-content-center align-items-center gap-2 card-animate"
                                for="moneyTransfer">
                                <!-- <i class="ri-passport-line text-primary fs-24"></i> -->
                                <img src="/assets/images/icons/moneytrans.png" class="img-fluid" alt=""
                                    style="max-height: 50px;">
                                {{'CLIENTTXS.MONEYTRANS.TEXT' |translate }}</label>
                            <input type="radio" class="btn-check" id="bankTx" name="transferMethod"
                                [value]="transferMethods.BANK_TRANSFER" (change)="goToNextStep()"
                                [(ngModel)]="deposit.transferMethod">
                            <label
                                class="btn btn-outline-primary d-flex flex-column justify-content-center align-items-center gap-2 card-animate"
                                for="bankTx">
                                <!-- <i class=" ri-bank-line text-primary fs-24"></i> -->
                                <img src="/assets/images/icons/bank.png" class="img-fluid" alt=""
                                    style="max-height: 50px;">
                                {{'CLIENTTXS.BANKTX.TEXT' |translate }}</label>
                            <input type="radio" class="btn-check" id="visaCard" name="transferMethod"
                                [value]="transferMethods.VISA_CARD" (change)="goToNextStep()"
                                [(ngModel)]="deposit.transferMethod">
                            <label
                                class="btn btn-outline-primary d-flex flex-column justify-content-center align-items-center gap-2 text-nowrap card-animate"
                                for="visaCard">
                                <!-- <i class="ri-bank-card-2-line text-primary fs-24"></i> -->
                                <img src="/assets/images/icons/visa.png" class="img-fluid" alt=""
                                    style="max-height: 50px;">
                                {{'CLIENTTXS.VISACARD.TEXT' |translate }}</label>
                            <input type="radio" class="btn-check" id="masterCard" name="transferMethod"
                                [value]="transferMethods.MASTER_CARD" (change)="goToNextStep()"
                                [(ngModel)]="deposit.transferMethod">
                            <label
                                class="btn btn-outline-primary d-flex flex-column justify-content-center align-items-center gap-2 text-nowrap card-animate"
                                for="masterCard">
                                <!-- <i class="ri-bank-card-2-line text-primary fs-24"></i> -->
                                <img src="/assets/images/icons/master.png" class="img-fluid" alt=""
                                    style="max-height: 50px;">
                                {{'CLIENTTXS.MASTERCARD.TEXT' |translate }}</label>
                            <input type="radio" class="btn-check" id="skrill" name="transferMethod"
                                [value]="transferMethods.SKRILL" (change)="goToNextStep()"
                                [(ngModel)]="deposit.transferMethod">
                            <label
                                class="btn btn-outline-primary d-flex flex-column justify-content-center align-items-center gap-2 text-nowrap card-animate"
                                for="skrill">
                                <!-- <i class="ri-bank-card-2-line text-primary fs-24"></i> -->
                                <img src="/assets/images/icons/skrill.png" class="img-fluid" alt=""
                                    style="max-height: 50px;">
                                {{'CLIENTTXS.SKRILL.TEXT' |translate }}</label>
                            <input type="radio" class="btn-check" id="neteller" name="transferMethod"
                                [value]="transferMethods.NETELLER" (change)="goToNextStep()"
                                [(ngModel)]="deposit.transferMethod">
                            <label
                                class="btn btn-outline-primary d-flex flex-column justify-content-center align-items-center gap-2 text-nowrap card-animate"
                                for="neteller">
                                <!-- <i class="ri-bank-card-2-line text-primary fs-24"></i> -->
                                <div class="d-flex justify-content-center align-items-center " style="height: 50px;">
                                    <img src="/assets/images/icons/neteller.png" class="img-fluid" alt=""
                                        style="max-height: 50px;">
                                </div>
                                {{'CLIENTTXS.NETELLER.TEXT' |translate }}
                            </label>
                            <input type="radio" class="btn-check h-100" id="wize" name="transferMethod"
                                [value]="transferMethods.WISE" (change)="goToNextStep()"
                                [(ngModel)]="deposit.transferMethod">
                            <label
                                class="btn btn-outline-primary  d-flex flex-column justify-content-between align-items-center gap-2 text-nowrap card-animate"
                                for="wize">
                                <!-- <i class="ri-bank-card-2-line text-primary fs-24"></i> -->
                                <div class="d-flex justify-content-center align-items-center " style="height: 50px;">

                                    <img src="/assets/images/icons/wize.png" class="img-fluid" alt=""
                                        style="max-height: 50px;">
                                </div>
                                {{
                                'CLIENTTXS.WIZE.TEXT' |translate }}
                            </label>

                        </div>
                        <!-- <div *ngIf="!transferMethod" class="text-danger p-1">
                            {{'CLIENTTXS.METHODREQ.TEXT' | translate }}
                        </div> -->
                    </div>

                </aw-wizard-step>


                <!-- Select account step -- second step -->
                <aw-wizard-step>
                    <!-- Local transfer - Money transfer - Wallet transfer -->
                    <div class="localTransfer moneytrans walletTransfer"
                        *ngIf="deposit.transferMethod == transferMethods.LOCAL_TRANSFER || deposit.transferMethod == transferMethods.WALLET || deposit.transferMethod == transferMethods.MONEY_TRANSFER || deposit.transferMethod == transferMethods.USDT_TRANSFER">
                        <div class="mb-4">
                            <label>{{'CLIENTTXS.SELECTACC.TEXT' | translate }}</label>
                            <app-transactions-account-select-option [accounts]="accountsToShow"
                                [selectedAccountId]="deposit?.toAccount?.id"
                                (accountChanged)="accountChanged($event)"></app-transactions-account-select-option>
                            <div *ngIf="!deposit.toAccount" class="text-danger p-1">
                                {{'CLIENTTXS.ACCREQ.TEXT' | translate }}
                            </div>
                        </div>
                    </div>

                    <!-- VISA - MASTER - NETELLER - SKRILL - WISE -->
                    <div class="mb-3"
                        *ngIf="deposit.transferMethod == transferMethods.BANK_TRANSFER || deposit.transferMethod == transferMethods.VISA_CARD || deposit.transferMethod == transferMethods.MASTER_CARD || deposit.transferMethod == transferMethods.NETELLER || deposit.transferMethod == transferMethods.SKRILL ||deposit.transferMethod == transferMethods.WISE ">
                        <h2 class="text-warning">
                            NOT AVAILABLE IN YOUR COUNTRY NOW!
                        </h2>

                    </div>

                    <!-- CONTROLS -->
                    <div class="d-flex align-items-start gap-3 mt-4">
                        <button type="button" class="btn btn-link text-decoration-none btn-label previestab"
                            data-previous="pills-gen-info-tab" (mousedown)="goToPervStep()"><i
                                class="ri-arrow-left-line label-icon align-middle fs-16 me-2"></i>
                            {{'CLIENTTXS.BACK.TEXT' | translate }} </button>
                        <button type="button" class="btn btn-success btn-label right ms-auto nexttab nexttab"
                            data-nexttab="pills-info-desc-tab" (mousedown)="goToNextStep()"><i
                                class="ri-arrow-right-line label-icon align-middle fs-16 ms-2"></i>
                            {{'CLIENTTXS.NEXT.TEXT' | translate }}
                        </button>
                    </div>
                </aw-wizard-step>



                <!-- Crypto network selection -->
                <aw-wizard-step *ngIf="deposit.transferMethod == transferMethods.USDT_TRANSFER">
                    <div class="usdtTransfer">
                        <label>{{"QUICKSELECT"|translate}}</label>
                        <div class="btn btn-outline-danger d-flex flex-column align-items-center gap-2 mb-1" (click)="networkChanged('USDTTRC20');goToNextStep()">
                            <img [src]="'https://nowpayments.io/images/coins/usdttrc20.svg'" class="img-fluid" alt=""
                                style="width: 35px; height: 35px; object-fit: contain;">
                            <div class="flex-grow-1">
                                <h5 class="mb-0 d-flex gap-1 align-items-center">
                                    {{"USDTTRC20"}}
                                </h5>
                                <p class="mb-0">{{"Tether USD (Tron)"}}</p>
                            </div>
                        </div>

                        <h3 class="text-center">-------- {{"OR"|translate}} --------</h3>
                        <label>{{'SELECTNETWORK' | translate }}</label>
                        <crypto-network-select-option [networks]="currencies"
                            [selectedNetworktId]="deposit?.transferNetwork"
                            (networkChanged)="networkChanged($event)"></crypto-network-select-option>
                        <div *ngIf="!deposit.transferNetwork" class="text-danger p-1">
                            {{'NTWORKREQ' | translate }}
                        </div>
                        <!-- CONTROLS -->
                        <div class="d-flex align-items-start gap-3 mt-4">
                            <button type="button" class="btn btn-link text-decoration-none btn-label previestab"
                                data-previous="pills-gen-info-tab" (mousedown)="goToPervStep()"><i
                                    class="ri-arrow-left-line label-icon align-middle fs-16 me-2"></i>
                                {{'CLIENTTXS.BACK.TEXT' | translate }}</button>
                            <button type="button" class="btn btn-success btn-label right ms-auto nexttab 
                            nexttab" data-nexttab="pills-success-tab" (mousedown)="goToNextStep()">
                                <i class="ri-arrow-right-line label-icon align-middle fs-16 ms-2"></i>
                                {{'CLIENTTXS.NEXT.TEXT' | translate }}</button>
                        </div>
                    </div>
                </aw-wizard-step>


                <!--Amount step -- third step -->
                <aw-wizard-step [canEnter]="validateAccount()"
                    *ngIf="deposit.transferMethod != transferMethods.MONEY_TRANSFER">


                    <!-- Amount -->
                    <div class="mb-3 amount-bock" *ngIf="deposit.transferMethod != transferMethods.USDT_TRANSFER ">
                        <label for="EndleaveDate" class="form-label">{{'CLIENTTXS.DAMOUNT.TEXT' | translate }}</label>
                        <div class="input-group ">
                            <span class="input-group-text" id="inputGroup">{{deposit.toAccount?.currency | translate
                                }}</span>
                            <input type="number" class="form-control" aria-label="input" name="depositAmount"
                                [(ngModel)]="deposit.depositAmount" aria-describedby="inputGroup"
                                (input)="validAmount = deposit.depositAmount && +deposit.depositAmount>0"
                                [ngClass]="{ 'is-invalid': !validAmount }">
                        </div>
                        <div *ngIf="!validAmount" class="text-danger p-1">
                            {{'CLIENTTXS.AMOUNTREQ.TEXT' | translate }}
                        </div>
                        <div *ngIf="+validAmount <= 0" class="text-danger p-1">
                            {{'CLIENTTXS.AMOUNTREQBIG.TEXT' | translate }}
                        </div>
                        <div *ngIf="deposit.transferMethod===transferMethods.WALLET && +deposit.depositAmount > walletBalance"
                            class="text-danger p-1">
                            {{'CLIENTTXS.AMOUNTLIMIT.TEXT' | translate }}
                        </div>
                    </div>


                    <!-- Amount for Crypto transfer -->

                    <div class="mb-3 amount-bock" *ngIf="deposit.transferMethod == transferMethods.USDT_TRANSFER ">
                        <div class="row">
                            <h4 class="modal-title" id="modal-basic-title">
                                <img src="assets/images/svg/crypto-icons/{{deposit.toAccount.currency| lowercase}}.svg"
                                    *ngIf="deposit.toAccount?.platform==Platform?.Wallet"
                                    class="bg-light rounded-circle p-1 avatar-sm img-fluid shadowarket Stat" alt="">
                                <img src="assets/images/mt4-logo.png" *ngIf="deposit.toAccount?.platform==Platform.MT4"
                                    class=" rounded p-1 avatar-sm img-fluid shadowarket Stat" alt="">
                                <img src="assets/images/mt5-logo.png" *ngIf="deposit.toAccount?.platform==Platform.MT5"
                                    class=" rounded p-1 avatar-sm img-fluid shadowarket Stat" alt="">
                                {{'Deposit'| translate}} {{selectedCurrency?.name}} {{'To'| translate}} {{'Account'| translate}}
                                {{deposit.toAccount?.platform==Platform.Wallet ? (deposit.toAccount.currency
                                + ' Wallet') :deposit.toAccount?.accountName}} 
                            </h4>

                        </div>


                        <div class="row">
                            <div class="col text-center" *ngIf="payLoading">
                                <div class="spinner-border text-primary" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                            <!-- USDT amount -- third step -->
                            <div class="col-md-12 mb-5" *ngIf="payAddress == '' && !payLoading">
                                <p>{{"How much would you like to deposit? Please Enter amount in USD"|translate}}</p>
                                <div class="input-group">
                                    <input type="number" class="form-control" placeholder="Enter amount in USD"
                                        (input)="estimatePrice()" [(ngModel)]="deposit.depositAmount"
                                        style="max-width: 250px;" name="depositAmount" pattern="\d+">
                                    <button class="btn btn-primary" (click)="submitAmount()">{{"SUBMIT"|translate}}</button>
                                </div>
                                <div class="alert alert-info d-inline-block mt-1" *ngIf="!minDeposit">
                                    <p class="mb-0">
                                        {{"Calculating minimum deposit amount"|translate}} <i
                                        class="mdi mdi-loading mdi-spin fs-20 align-middle me-2"></i>
                                    </p>
                                    
                                </div>
                                <div class="alert alert-info d-inline-block mt-1" *ngIf="minDeposit">
                                    <p class="mb-0" *ngIf="payEstimateAmount">{{this.deposit.depositAmount}} USD ≈
                                        {{payEstimateAmount}}
                                        {{selectedCurrency.name}}, <span class="text-danger fw-bolder">{{"Note: Exchange and transfer fees will be added to this approximate value"|translate}}.</span>
                                    </p>
                                    {{"Minimum deposit amount:"|translate}}
                                    {{minDeposit}} {{ selectedCurrency.name }}
                                </div>
                            </div>

                            <!-- USDT QR -- third step -->
                            <div class="col-md-12 text-center mb-5" *ngIf="payAddress != '' && !paymentProcceced">
                                <qrcode [qrdata]="payAddress" [width]="128" [errorCorrectionLevel]="'M'"></qrcode>
                                <code id="walletAddress" (click)="copyToClipboard()"
                                    class="user-select-all cursor-pointer">{{ payAddress }}</code>
                                <!-- <h3>{{"To deposit"|translate}} {{deposit.depositAmount}} {{"USD to your account"|translate}},
                                    {{"Please send"|translate}} {{+payAmount}} {{selectedCurrency.name}} {{"to the above address"|translate}}</h3> -->
                                <h3>{{"Please send your "|translate}} {{selectedCurrency.name}} {{"deposit to the above address"|translate}}</h3>
                                <div *ngIf="countdown && selectedCurrency.code.toLowerCase() !== 'usdttrc20'">
                                    <p class="alert alert-danger fs-3 d-inline-block">{{"Expiration time"|translate}}: {{ countdown |translate }}
                                    </p>
                                </div>
                                <div class="alert alert-info d-inline-block mt-1" *ngIf="minDeposit">
                                    <p class="mb-0 text-danger fw-bolder" *ngIf="selectedCurrency.code.toLowerCase() !== 'usdttrc20'">{{"Note: Exchange and transfer fees will be applied"|translate}}.</p>
                                    {{"Minimum deposit amount:"|translate}}
                                    {{minDeposit}} {{ selectedCurrency.name }}
                                </div>
                                <!-- <div class="col-md-12 text-center mb-5" *ngIf="payAddress != '' && !payLoading">
                                    <button class="btn btn-primary mt-3" (click)="confirmDeposit()">{{"Click here when you send the deposit"|translate}}</button>
                                </div> -->
                            </div>
                           </div>
                    </div>

                    <!-- CONTROLS -->
                    <div class="d-flex align-items-start gap-3 mt-4">
                        <button type="button" class="btn btn-link text-decoration-none btn-label previestab"
                            data-previous="pills-gen-info-tab"
                            (mousedown)="goToPervStep()"
                            [disabled]="payLoading"><i
                                class="ri-arrow-left-line label-icon align-middle fs-16 me-2"></i>
                            {{'CLIENTTXS.BACK.TEXT' | translate }}</button>
                        <button type="button" class="btn btn-success btn-label right ms-auto nexttab 
                                    nexttab" *ngIf="paymentProcceced" data-nexttab="pills-success-tab">
                            <i class="ri-arrow-right-line label-icon align-middle fs-16 ms-2"></i>
                            {{'CLIENTTXS.NEXT.TEXT' | translate }}</button>
                    </div>
                </aw-wizard-step>


                
                <!-- <aw-wizard-step [canEnter]="validateAccount()"
                    *ngIf="deposit.transferMethod == transferMethods.USDT_TRANSFER">

                    
                    <div class="mb-3 usdt-block" *ngIf="deposit.transferMethod == transferMethods.USDT_TRANSFER">
                        <div class="alert alert-warning">There is a processing fee of {{deposit.depositAmount*0.05}}
                            when
                            converting from USDT to USD.<br />Total USDT amount is: {{deposit.depositAmount*1.05 |
                            number:'1.2-2'}} USDT</div>
                        <div class="row ">
                            <div class="col-lg-6 text-center mb-4">
                                <h2 class="mb-0">USDT TRC20</h2>
                                <qrcode [qrdata]="USDT_TRC20_WalletAddress" [width]="128" [errorCorrectionLevel]="'M'">
                                </qrcode>
                                <code id="walletAddress" (click)="copyToClipboard()"
                                    class="user-select-all cursor-pointer">
<p class="mb-0 text-break">
{{ USDT_TRC20_WalletAddress }}
</p>
</code>
                            </div>
                            <div class="col-lg-6 mb-4">
                                <ul class="ps-3" *ngIf="translate.currentLang == 'ar'">
                                    <li>يمكنك إرسال USDT TRC20 إلى هذا العنوان لإيداعه في حسابك.</li>
                                    <li>يجب عليك إرسال 100 USDT على الأقل ، قبل أن تتمكن من إضافته إلى حسابك.</li>
                                    <li>يمكنك إرساله في عمليات متعددة.</li>
                                    <li>انقر على العنوان لنسخه إلى الحافظة أو مسح رمز الاستجابة السريعة.</li>
                                </ul>
                                <ul *ngIf="translate.currentLang != 'ar'">
                                    <li>You can send USDT TRC20 to this address to deposit to your account.</li>
                                    <li>You have to send at least 100 USDT, before you can add it to your account.</li>
                                    <li>You may send it in multiple transactions.</li>
                                    <li>Click on the address to copy it to your clipboard or scan the QR code.</li>
                                </ul>
                                <p class="mb-2" *ngIf="translate.currentLang == 'ar'">
                                    انقر فوق "تحديث" لتحديث حالة إيداعك.<br />
                                    انقر فوق "إضافة إلى محفظة USD" لإضافة الإيداع إلى محفظتك USD.<br />
                                </p>
                                <p class="mb-2" *ngIf="translate.currentLang != 'ar'">
                                    Click "Refresh" to refresh the status of your deposit.<br />
                                    Click "Add to USD Wallet" to add the deposit to your USD Wallet.<br />
                                </p>
                                <div class="alert alert-info" *ngIf="USDT_TRC20_WalletBalance > 0">{{
                                    translate.currentLang == 'ar' ?
                                    'المبلغ الواصل' : 'Recieved Amount' }} {{ USDT_TRC20_WalletBalance }} USDT</div>
                                <div class="alert alert-warning" *ngIf="USDT_TRC20_ProcessingAmount > 0">{{
                                    translate.currentLang == 'ar' ?
                                    'يتم الأن معالجة' : 'Currently Processing' }} {{ USDT_TRC20_ProcessingAmount }} USDT
                                </div>
                                <button class="btn btn-secondary me-2" (click)="refreshTRC20()">{{'Refresh' |
                                    translate}}</button>
                                <button class="btn btn-success" (click)="addToWalletTRC20()"
                                    *ngIf="USDT_TRC20_WalletBalance > USDT_TRC20_ProcessingAmount">
                                    {{'Add to USD Wallet'| translate}}
                                </button>
                                <div class="alert alert-danger d-inline-block p-1" *ngIf="noPaymentReceived">{{
                                    translate.currentLang == 'ar' ?
                                    'لم يتم العثور على إيداع' : 'No Deposit Found' }}</div>
                            </div>
                        </div>

                    </div>


                    <div class="d-flex align-items-start gap-3 mt-4">
                        <button type="button" class="btn btn-link text-decoration-none btn-label previestab"
                            data-previous="pills-gen-info-tab" (mousedown)="goToPervStep()"><i
                                class="ri-arrow-left-line label-icon align-middle fs-16 me-2"></i>
                            {{'CLIENTTXS.BACK.TEXT' | translate }}</button>
                        <button type="button" class="btn btn-success btn-label right ms-auto nexttab 
                nexttab" *ngIf="deposit.transferMethod != transferMethods.USDT_TRANSFER"
                            data-nexttab="pills-success-tab" (mousedown)="checkAmountAndGoToNextStep()">
                            <i class="ri-arrow-right-line label-icon align-middle fs-16 ms-2"></i>
                            {{'CLIENTTXS.NEXT.TEXT' | translate }}</button>
                    </div>
                </aw-wizard-step> -->



                <!-- Show message that agent will get request to deposit - forth step -->
                <aw-wizard-step [canEnter]="validateAmount()"
                    *ngIf="deposit.transferMethod == transferMethods.LOCAL_TRANSFER ">
                    <!-- Local transfer -->
                    <div class="mb-3" *ngIf="deposit.transferMethod == transferMethods.LOCAL_TRANSFER">
                        <!-- <h3 class="fw-medium text-primary">Agent info:</h3>
                        <div class="hstack gap-2 flex">
                            <div class="col-sm-2">
                                <p class="fw-medium">name:</p>
                                <p class="fw-medium">address:</p>
                            </div>
                            <div class="col-sm-4 flex-grow-1">
                                <p>agent name</p>
                                <p>agent address</p>
                            </div>
                            <div class="col">
                                to add map location
                            </div>
                        </div>
                        <br> -->
                        <h3 class="fw-medium text-primary">Deposit info:</h3>

                        <div class="hstack gap-2 flex">
                            <div class="col-sm-2">
                                <p class="fw-medium">{{'CLIENTTXS.METHOD.TEXT' | translate }}</p>
                            </div>
                            <div class="col-sm-4 flex-grow-1">
                                <p>{{deposit.transferMethod | translate }}</p>
                            </div>
                        </div>
                        <div class="hstack gap-2 flex">
                            <div class="col-sm-2">
                                <p class="fw-medium">{{'CLIENTTXS.TIMETOFUND.TEXT' | translate }}</p>
                            </div>
                            <div class="col-sm-4 flex-grow-1">
                                <p>{{'CLIENTTXS.DEPINFINGBCH.TEXT' | translate }}</p>
                            </div>
                        </div>
                        <div class="hstack gap-2 flex border-primary border-bottom">
                            <div class="col-sm-2">
                                <p class="fw-medium">{{'CLIENTTXS.AMOUNT.TEXT' | translate }}</p>
                            </div>
                            <div class="col-sm-4 flex-grow-1">
                                <p class="fs-18 text-success">{{deposit.depositAmount}} {{deposit.toAccount?.currency |
                                    translate }}
                                </p>
                            </div>
                        </div>

                        <h3 class="alert alert-warning">

                            By procceding to next step deposit request will be sent to your agent and he will contact
                            you to complete your Deposit procces
                        </h3>
                    </div>

                    <!-- Controls -->
                    <div class="d-flex align-items-start gap-3 mt-4">
                        <button type="button" class="btn btn-link text-decoration-none btn-label previestab"
                            data-previous="pills-gen-info-tab" (mousedown)="goToPervStep()"><i
                                class="ri-arrow-left-line label-icon align-middle fs-16 me-2"></i>
                            {{'CLIENTTXS.BACK.TEXT' | translate }}</button>
                        <button type="button" class="btn btn-success btn-label right ms-auto nexttab
                                        nexttab" data-nexttab="pills-success-tab" (mousedown)="onSubmit()">
                            <i
                                class="ri-arrow-right-line label-icon align-middle fs-16 ms-2"></i>{{'CLIENTTXS.SUBMIT.TEXT'
                            | translate }}</button>
                    </div>
                </aw-wizard-step>




                <!-- Money transfer notification info step -->
                <aw-wizard-step [canEnter]="validateAccount()"
                    *ngIf="deposit.transferMethod == transferMethods.MONEY_TRANSFER ">

                    <div class="mb-3 row">
                        <!-- <div class="mb-3 text-center col-12">

                            <button class="btn btn-soft-success">show service centers</button>
                        </div> -->
                        <div class="col-sm-12 col-md-6">

                            <label for="no" class="form-label">{{'NO' | translate }}</label>
                            <div class="input-group ">
                                <input type="number" class="form-control" aria-label="input" name="no"
                                    [(ngModel)]="deposit.moneyTransferInfo.no" aria-describedby="inputGroup"
                                    [ngClass]="{ 'is-invalid':submitted && !deposit.moneyTransferInfo.no }">
                            </div>
                            <div *ngIf="submitted && !deposit.moneyTransferInfo.no" class="text-danger p-1">
                                {{'NOREQ' | translate }}
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">

                            <label for="passCode" class="form-label ">{{'PASSCODE' | translate }}</label>
                            <div class="input-group ">
                                <input type="number" class="form-control" aria-label="input" name="passCode"
                                    [(ngModel)]="deposit.moneyTransferInfo.passCode" aria-describedby="inputGroup"
                                    [ngClass]="{ 'is-invalid':submitted && !deposit.moneyTransferInfo.passCode }">
                                <div *ngIf="submitted && !deposit.moneyTransferInfo.passCode"
                                    class="text-danger p-1 invalid-feedback">
                                    {{'PASSCODEREQ' | translate }}
                                </div>
                            </div>

                        </div>

                    </div>
                    <!-- <div class="form-check mb-2">
                        <label class="form-check-label" for="formCheck1">
                            {{'CLIENTTXS.UPLOADLATER.TEXT' | translate }}
                        </label>
                        <input class="form-check-input" type="checkbox" id="formCheck1" (change)="later = !later">
                    </div>

                    <div class="mb-3">
                        <label for="EndleaveDate" class="form-label">{{'CLIENTTXS.UPLOADRECIPT.TEXT' |
                            translate}}</label>
                        <div class="input-group ">
                            <input type="file" class="form-control" aria-label="input" value="100"
                                aria-describedby="inputGroup" (change)="addFile($event)" [disabled]="later"
                                [ngClass]="{ 'is-invalid': !validFile && !later  }">
                            <div *ngIf=" !validFile && !later" class="text-danger p-1">
                                <div *ngIf="!validFile && !later">
                                    {{'CLIENTTXS.RECIPTREQ.TEXT' | translate }}
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <div class="d-flex align-items-start gap-3 mt-4">
                        <button type="button" class="btn btn-link text-decoration-none btn-label previestab"
                            data-previous="pills-gen-info-tab" (mousedown)="goToPervStep()"><i
                                class="ri-arrow-left-line label-icon align-middle fs-16 me-2"></i>
                            {{'CLIENTTXS.BACK.TEXT' | translate }}</button>

                        <button type="button" (mousedown)="onSubmit()" class="btn btn-success btn-label right ms-auto nexttab
                            nexttab" data-nexttab="pills-success-tab">
                            <i
                                class="ri-arrow-right-line label-icon align-middle fs-16 ms-2"></i>{{'CLIENTTXS.SUBMIT.TEXT'
                            | translate }}</button>
                    </div>
                </aw-wizard-step>


                <!-- VISA/MASTER card step -->
                <!-- <aw-wizard-step  *ngIf=" deposit.transferMethod == transferMethods.VISA_CARD || deposit.transferMethod == transferMethods.MASTER_CARD">

                    <credit-card (card)="setCreditCard($event)"></credit-card>

                    <div class="d-flex align-items-start gap-3 mt-4">
                        <button type="button" class="btn btn-link text-decoration-none btn-label previestab"
                            data-previous="pills-gen-info-tab" (mousedown)="goToPervStep()"><i
                                class="ri-arrow-left-line label-icon align-middle fs-16 me-2"></i>
                            {{'CLIENTTXS.BACK.TEXT' | translate }}</button>

                        <button type="button" (mousedown)="onSubmit()" class="btn btn-success btn-label right ms-auto nexttab
                            nexttab" data-nexttab="pills-success-tab" awNextStep>
                            <i
                                class="ri-arrow-right-line label-icon align-middle fs-16 ms-2"></i>{{'CLIENTTXS.SUBMIT.TEXT'
                            | translate }}</button>
                    </div>
                </aw-wizard-step> -->


                <aw-wizard-step [canEnter]="validateLastStep()" [stepId]="'last'">
                    <div class="col text-center" *ngIf="loadingTx">
                        <div class="spinner-border text-primary" *ngIf="loadingTx" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <div *ngIf="!loadingTx">
                        <div class="text-center"
                            *ngIf="!error && deposit.transferMethod==transferMethods.USDT_TRANSFER">
                            <div class="mb-4">
                                <lord-icon src="https://cdn.lordicon.com/lupuorrc.json" trigger="loop"
                                    colors="primary:#0ab39c,secondary:#405189"
                                    style="width:120px;height:120px"></lord-icon>
                            </div>
                            <h5 class="text-success fs-24">
                                {{'CLIENTTXS.WAITINGFORCRYPTO.TEXT' | translate }}
                            </h5>
                            <p class="text-muted fs-20">
                                {{'CLIENTTXS.PAYWALLETADDRESS.TEXT' | translate }} <br />
                            </p>
                            <div class="mb-4">
                                <code id="walletAddress" (click)="copyToClipboard()"
                                    class="user-select-all cursor-pointer">{{ deposit.transferWallet }}</code>
                            </div>

                            <div class="row">
                                <div class="col-2"></div>
                                <div class="col-4">

                                    <button type="button" class="btn btn-success w-100" data-nexttab="pills-success-tab"
                                        awResetWizard (mousedown)="resetDeposit()">

                                        {{'CLIENTTXS.NEWDEPOSIT.TEXT' | translate }}
                                    </button>
                                </div>
                                <div class="col-4">

                                    <button type="button" class="btn btn-primary w-100" (mousedown)="goToTxHistory()">
                                        {{'CLIENTTXS.GOTOTXS.TEXT' | translate }}</button>
                                </div>
                                <div class="col-2"></div>
                            </div>
                            <!-- <h5 class="text-success fs-24">
                                {{'CLIENTTXS.REDIRECTING.TEXT' | translate }}
                            </h5>
                            <p class="text-muted fs-20">
                                {{'CLIENTTXS.REDIRECTPAYGAT.TEXT' | translate }}
                            </p> -->
                        </div>
                        <div class="text-center"
                            *ngIf="!error && deposit.transferMethod!=transferMethods.USDT_TRANSFER">
                            <div class="mb-4">
                                <lord-icon src="https://cdn.lordicon.com/lupuorrc.json" trigger="loop"
                                    colors="primary:#0ab39c,secondary:#405189" style="width:120px;height:120px">
                                </lord-icon>
                            </div>
                            <h5 class="text-success fs-24">
                                {{'CLIENTTXS.DEPOSITDONE.TEXT' | translate }}
                            </h5>
                            <p class="text-muted fs-20" *ngIf="approved">
                                {{'CLIENTTXS.DEPOSITDONESUCCESS.TEXT' | translate }}
                            </p>
                            <p class="text-warning fs-20" *ngIf="!approved">
                                {{'CLIENTTXS.APPROVALDURATIONMSG.TEXT' | translate }}
                            </p>
                            <!-- <p class="text-danger fs-20"
                                *ngIf="deposit.transferMethod!==transferMethods.WALLET">
                                {{'CLIENTTXS.RECIPTREMINDER.TEXT' | translate }}
                            </p> -->
                            <div class="row">
                                <div class="col-2"></div>
                                <div class="col-4">

                                    <button type="button" class="btn btn-success w-100" data-nexttab="pills-success-tab"
                                        (mousedown)="resetDeposit()">

                                        {{'CLIENTTXS.NEWDEPOSIT.TEXT' | translate }}
                                    </button>
                                </div>
                                <div class="col-4">

                                    <button type="button" class="btn btn-primary w-100" (mousedown)="goToTxHistory()">
                                        {{'CLIENTTXS.GOTOTXS.TEXT' | translate }}</button>
                                </div>
                                <div class="col-2"></div>
                            </div>
                        </div>
                        <div class="text-center" *ngIf="error">

                            <div class="mb-4">
                                <lord-icon src="https://cdn.lordicon.com/hrqwmuhr.json" trigger="loop"
                                    colors="primary:#121331,secondary:#e83a30" style="width:250px;height:250px">
                                </lord-icon>
                            </div>
                            <h5 class="text-danger fs-24">
                                {{'CLIENTTXS.DEPOSITFAILD.TEXT' | translate }}
                            </h5>
                            <p class="text-danger fs-20">{{errorNote}}</p>
                            <div class="row">
                                <div class="col-2"></div>
                                <div class="col-4">

                                    <button type="button" class="btn btn-success w-100" data-nexttab="pills-success-tab"
                                        (mousedown)="resetDeposit()">
                                        {{'CLIENTTXS.NEWDEPOSIT.TEXT' | translate }}
                                    </button>
                                </div>
                                <div class="col-4">

                                    <button type="button" class="btn btn-primary w-100" (mousedown)="goToTxHistory()">
                                        {{'CLIENTTXS.GOTOTXS.TEXT' | translate }}
                                    </button>
                                </div>
                                <div class="col-2"></div>
                            </div>
                        </div>
                    </div>

                </aw-wizard-step>




            </aw-wizard>
        </div>
        <!-- end card body -->
    </div>
    <!-- end card -->

</form>
<div class="row" *ngIf="deposit.transferMethod == transferMethods.MONEY_TRANSFER && currentStep  == 3">
    <service-centers [centers]="serviceCenters"></service-centers>
</div>
</div>
