<!-- Start Breadcrumbs -->
<app-breadcrumbs [title]="localeKeys.CLIENT_ACCOUNTS" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<div class="card">
    <div class="card-header">
        <div class="d-flex align-items-center flex-wrap gap-2">
            <div class="flex-grow-1">
                <button class="btn btn-primary material-shadow-none" (click)="addAccount()">
                    {{localeKeys.CLIENT_ACCOUNTS_CREATE | translate}}
                </button>
            </div>

            <div class="flex-shrink-0">
                <div class="hstack text-nowrap gap-2" ngbDropdown>
                    <button type="button" id="dropdownMenuLink1" data-bs-toggle="dropdown" aria-expanded="false"
                        class="btn btn-soft-info arrow-none" ngbDropdownToggle><i class="ri-more-2-fill"></i></button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink1" ngbDropdownMenu>
                        <li><a class="dropdown-item" href="javascript:void(0);" (click)="filterAccounts('all')"
                                [class.active]="filterType=='all'">{{localeKeys.GLOBAL_ALL | translate}}</a></li>
                        <li><a class="dropdown-item" href="javascript:void(0);" (click)="filterAccounts('demo')"
                                [class.active]="filterType=='demo'">{{localeKeys.CLIENT_ACCOUNTS_DEMO | translate}}</a>
                        </li>
                        <li><a class="dropdown-item" href="javascript:void(0);" (click)="filterAccounts('live')"
                                [class.active]="filterType=='live'">{{localeKeys.CLIENT_ACCOUNTS_LIVE | translate}}</a>
                        </li>
                        <li><a class="dropdown-item" href="javascript:void(0);" (click)="filterAccounts('active')"
                                [class.active]="filterType=='active'">{{localeKeys.CLIENT_ACCOUNTS_ACTIVE |
                                translate}}</a>
                        </li>
                        <li><a class="dropdown-item" href="javascript:void(0);" (click)="filterAccounts('inactive')"
                                [class.active]="filterType=='inactive'">{{localeKeys.CLIENT_ACCOUNTS_INACTIVE |
                                translate}}</a></li>
                        <li><a class="dropdown-item" href="javascript:void(0);" (click)="filterAccounts('pending')"
                                [class.active]="filterType=='pending'">{{localeKeys.CLIENT_ACCOUNTS_PENDING |
                                translate}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->
<div class="row">
    <div class="col-md-4" *ngFor="let item of analyticsData">
        <app-analatics-stat [title]="item.name" [value]="item.value" [icon]="item.icon"
            [icon_bg_color]="item.icon_bg_color"></app-analatics-stat>

    </div>
</div>
<div class="row mt-4">

    <div id="elmLoaderOverlay" *ngIf="isLoading">
        <div class="spinner-border text-primary avatar-sm" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    @for(data of accounts;track $index){
    <div class="col-lg-3 col-md-4">
        <div class="card ribbon-box right overflow-hidden">
            <div class="card-body text-center p-4">
                @if(data.accountType == 0){
                <div class="ribbon ribbon-warning ribbon-shape trending-ribbon">
                    <i class=" ri-loader-2-fill text-white align-bottom"></i>
                    <span class="trending-ribbon-text">{{localeKeys.CLIENT_ACCOUNTS_DEMO | translate}}</span>
                </div>
                }
                <img src="https://quickchart.io/qr?text={{'' | buildMtScheme:data.login+'':data.accountMasterPassword??'':'WaliSt-Server':true}}"
                    alt="" height="100">
                <h5 class="mb-1 mt-4"><a routerLink="" class="link-primary">{{data.accountName}}</a>
                    <i class="ri-pencil-line text-muted float-end" placement="start"
                        ngbTooltip="{{localeKeys.CLIENT_ACCOUNTS_CHANGE_NAME | translate}}"
                        (click)="changeName(data.id)"></i>
                </h5>
                <span class="text-muted">{{data.login}}</span><br>
                <span class="badge badge-gradient-dark">WaliSt-Server</span>
                <!-- <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        <span class="text-muted">Currency</span>
                    </div>
                </div> -->
                <!-- <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <apx-chart [series]="data.chart.series" [chart]="data.chart.chart"
                            [dataLabels]="data.chart.dataLabels" [stroke]="data.chart.stroke" [fill]="data.chart.fill"
                            [colors]="data.chart.colors" dir="ltr"></apx-chart>
                    </div>
                </div> -->
                <div class="row mt-2">
                    <div class="col-md-6  mt-2">
                        <h6>{{data.balance}}</h6>
                        <span class="text-muted">{{localeKeys.GLOBAL_BALANCE | translate}}</span>
                    </div>
                    <div class="col-md-6  mt-2">

                        <h6>{{data.leverage}}</h6>

                        <span class="text-muted">{{localeKeys.CLIENT_ACCOUNTS_LEVERAGE |
                            translate}}</span>
                        <!-- <a class="btn btn-sm btn-light material-shadow-none"> -->
                        <i class="ri-pencil-line float-end" placement="start"
                            ngbTooltip="{{localeKeys.CLIENT_ACCOUNTS_CHANGE_LEVERAGE | translate}}"
                            (click)="changeLeverage(data.id)"></i>
                        <!-- </a> -->
                    </div>
                    <div class="col-md-6 mt-2">
                        <h6>{{data.free_margin}}</h6>
                        <span class="text-muted">{{localeKeys.CLIENT_ACCOUNTS_FREE_MARGIN | translate}}</span>
                    </div>
                    <div class="col-md-6 mt-2">
                        <h6>{{data.equity}}</h6>
                        <span class="text-muted">{{localeKeys.CLIENT_ACCOUNTS_EQUITY | translate}}</span>
                    </div>
                    <div class="col-md-6 mt-2">
                        <h6>{{data.margin}}</h6>
                        <span class="text-muted">{{localeKeys.CLIENT_ACCOUNTS_MARGIN | translate}}</span>
                    </div>
                    <div class="col-md-6 mt-2">
                        <h6>{{data.margin_level}}</h6>
                        <span class="text-muted">{{localeKeys.CLIENT_ACCOUNTS_MARGIN_LEVEL |
                            translate}}</span>
                    </div>
                </div>
                <!-- <div class="mt-4">
                    <a routerLink="/ecommerce/seller-details" class="btn btn-light w-100">View Details</a>
                </div> -->
                <div class="mt-4 btn-group btn-group-sm mt-2 material-shadow">
                    <button class="btn btn-info material-shadow-none" (click)="changePassword(data.id)">
                        {{localeKeys.CLIENT_ACCOUNTS_CHANGE_PASSWORD | translate}}
                    </button>
                    <!-- <button class="btn btn-warning material-shadow-none">
                        {{localeKeys.CLIENT_ACCOUNTS_CHANGE_LEVERAGE | translate}}
                    </button>
                    <button class="btn btn-primary material-shadow-none">
                        {{localeKeys.CLIENT_ACCOUNTS_CHANGE_NAME | translate}}
                    </button> -->
                    <button class="btn btn-danger material-shadow-none">
                        {{localeKeys.CLIENT_ACCOUNTS_DELETE | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
    }
    <!--end col-->
</div>