<!-- auth-page wrapper -->
<div class="auth-page-wrapper py-5 d-flex justify-content-center align-items-center min-vh-100">

    <!-- auth-page content -->
    <div class="auth-page-content overflow-hidden p-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 text-center">
                    <div class=" position-relative">
                        <img src="assets/images/coming-soon.png" alt="" class="mb-3 w-50" style="max-width: 400px;" />
                        <!-- <h1 class="title text-danger mt-5">403</h1> -->
                    </div>
                    <div>
                        <h4 class="text-warning mb-3">{{"We are working hard to bring you this section"|translate}}</h4>
                        <!-- <a routerLink="/" class="btn btn-warning btn-lg" role="button"><i class="mdi mdi-home me-1"></i>Back to home</a> -->
                    </div>
                </div><!-- end col-->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end auth-page content -->
  </div>
  <!-- end auth-page-wrapper -->
  