<div class="wrapper" [style.direction]="dir">

    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{'CLIENTACCOUNTS.CREATE.TEXT'|translate}}</h4>
        <button type="button" class="btn-close" [ngClass]="{'m-0':dir==='rtl'}" aria-label="Close"
            (mousedown)="close()"></button>
    </div>
    <div class="modal-body">
        <div class="alert alert-danger shadow" role="alert"
            *ngIf="!verified && accountForm.controls['accountType'].value == 1">
            <strong>{{'CLIENTACCOUNTS.NOTVERIFIED.TEXT'|translate}} </strong>
        </div>
        <form (ngSubmit)="saveAccount()" [formGroup]="accountForm" class="tablelist-form" autocomplete="off"
            *ngIf="!creating">
            <!-- <input type="hidden" name="id" formControlName="ids" /> -->
            <div class="row g-3">
                <div class="col-lg-12">
                    <div>
                        <label for="accountName" class="form-label">{{'CLIENTACCOUNTS.ACCNAME.TEXT'|translate}} </label>
                        <input type="text" id="accountName" class="form-control" maxlength="25"
                            placeholder="{{'ENTERACCNAME'|translate}}" required formControlName="accountName"
                            [ngClass]="{ 'is-invalid': (submitted && accountForm.controls['accountName'].errors) || accountForm.controls['accountName'].errors?.['length'] || accountForm.controls['accountName'].errors?.['invalidInput']}" />
                        <div *ngIf="(submitted && accountForm.controls['accountName'].errors || accountForm.controls['accountName'].errors?.['length'] || accountForm.controls['accountName'].errors?.['invalidInput'])"
                            class="invalid-feedback" align="left">
                            <div *ngIf="accountForm.controls['accountName'].errors['required']">
                                {{'CLIENTACCOUNTS.ACCNAMEREQ.TEXT'|translate}}
                            </div>
                            <div *ngIf="accountForm.controls['accountName'].errors?.['length']">
                                {{'CLIENTACCOUNTS.ACCNAME15.TEXT'|translate}}
                            </div>
                            <div *ngIf="accountForm.controls['accountName'].errors?.['invalidInput']">
                                {{'CLIENTACCOUNTS.ACCNAMEMUST1.TEXT'|translate}}

                                <strong>{{'CLIENTACCOUNTS.ACCNAMEMUST2.TEXT'|translate}} </strong>
                            </div>
                        </div>
                    </div>
                </div>


                <!--end col-->
                <div class="col-lg-4">
                    <div>
                        <label>{{'CLIENTACCOUNTS.SELECTPLAT.TEXT' | translate }}</label>
                        <select class="form-select form-select-lg" formControlName="accountPlatform" (change)="currencyChanged()">
                            <option *ngFor="let platform of platforms" [value]="platform.value">
                                {{platform.name | translate }}
                            </option>
                        </select>
                        <div *ngIf="submitted && accountForm.controls['accountPlatform'].errors"
                            class="invalid-feedback" align="left">
                            <div *ngIf="accountForm.controls['accountPlatform'].errors['required']">platform</div>
                        </div>
                    </div>
                </div>
                <!--end col-->
                <div class="col-lg-4">
                    <div>
                        <label>{{'CLIENTACCOUNTS.SELECTTYPE.TEXT' | translate }}</label>
                        <select class="form-select form-select-lg" formControlName="accountType">
                            <option *ngFor="let type of types" [value]="type.value">
                                {{(type.name|uppercase) | translate }}
                            </option>
                        </select>
                    </div>
                </div>
                <!--end col-->

                <!--end col-->
                <div class="col-lg-4"
                    *ngIf="(accountForm.controls['accountPlatform'].value == platform.MT4 && !mt4accountsGroups.length ) || (accountForm.controls['accountPlatform'].value == platform.MT5 && !mt5accountsGroups.length) || accountForm.controls['accountType'].value == 0">
                    <div>
                        <label>{{'CLIENTACCOUNTS.SELECTLEVERAGE.TEXT' | translate }} </label>
                        <select class="form-select form-select-lg" formControlName="leverage">
                            <option *ngFor="let leverage of leverages" [value]="leverage.value">
                                {{leverage.name }}
                            </option>
                        </select>
                        <div *ngIf="submitted && accountForm.controls['leverage'].errors" class="invalid-feedback"
                            align="left">
                            <div *ngIf="accountForm.controls['leverage'].errors['required']">
                                {{'CLIENTACCOUNTS.PLATFORM.TEXT' | translate }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4"
                    *ngIf="(accountForm.controls['accountPlatform'].value == platform.MT4 && mt4accountsGroups.length && accountForm.controls['accountType'].value == 1 ) || (accountForm.controls['accountPlatform'].value == platform.MT5 && mt5accountsGroups.length && accountForm.controls['accountType'].value == 1) ">
                    <div>
                        <label>{{'SELECTCURRENCY' | translate }}</label>
                        <select class="form-select form-select-lg" [(ngModel)]="selectedCurrency" [ngModelOptions]="{standalone: true}"
                            (change)="currencyChanged()">
                            <option *ngFor="let c of currencies" [value]="c">
                                {{c}}
                            </option>
                        </select>

                    </div>
                </div>
                <div class="col-md-6"
                    *ngIf="(accountForm.controls['accountPlatform'].value == platform.MT4 && mt4accountsGroups.length && accountForm.controls['accountType'].value == 1 ) || (accountForm.controls['accountPlatform'].value == platform.MT5 && mt5accountsGroups.length && accountForm.controls['accountType'].value == 1) ">
                    <label>{{'SELECTGROUP' | translate }}</label>
                    <select class="form-select form-select-lg" [(ngModel)]="selectedAccountGroup" [ngModelOptions]="{standalone: true}" *ngIf="accountForm.controls['accountPlatform'].value == platform.MT4"
                    >
                    <option *ngFor="let g of mt4filterdAccountsGroups" [value]="g">
                        {{g.title}}
                    </option>
                </select>
                <select class="form-select form-select-lg" [(ngModel)]="selectedAccountGroup" [ngModelOptions]="{standalone: true}" *ngIf="accountForm.controls['accountPlatform'].value == platform.MT5"
                    >
                    <option *ngFor="let g of mt5filterdAccountsGroups" [value]="g">
                        {{g.title}}
                    </option>
                </select>
                            <!-- <h5 class="text-center text-warning cursor-pointer form-select-lg border border-warning mb-0" *ngIf="!selectedAccountGroup" (click)="selectAcountGroup()">{{"CLICKTOSELECTGROUP"|translate}}
                            </h5>
                            <h5 class="text-center text-success cursor-pointer form-select-lg border border-success mb-0" *ngIf="selectedAccountGroup" (click)="selectAcountGroup()">
                                {{selectedAccountGroup.title|translate}}</h5> -->
                    

                </div>
                <div class="col-md-6"
                    *ngIf="(accountForm.controls['accountPlatform'].value == platform.MT4 && mt4accountsGroups.length && accountForm.controls['accountType'].value == 1 ) || (accountForm.controls['accountPlatform'].value == platform.MT5 && mt5accountsGroups.length && accountForm.controls['accountType'].value == 1) ">
                    <div>
                        <label>{{'CLIENTACCOUNTS.SELECTLEVERAGE.TEXT' | translate }}</label>
                        <select class="form-select form-select-lg" formControlName="leverage">
                            <option *ngFor="let leverage of selectedAccountGroup?.leverages" [value]="leverage">
                                1:{{leverage }}
                            </option>
                        </select>
                        <div *ngIf="submitted && accountForm.controls['leverage'].errors" class="invalid-feedback"
                            align="left">
                            <div *ngIf="accountForm.controls['leverage'].errors['required']">
                                {{'CLIENTACCOUNTS.PLATFORM.TEXT' | translate }}</div>
                        </div>
                    </div>
                </div>
                <!--end col-->
                <div class="col-lg-12" *ngIf="accountForm.controls['accountType'].value == 0">
                    <div>
                        <label for="deposit-field" class="form-label">{{'CLIENTACCOUNTS.AMOUNT.TEXT' | translate }}
                        </label>
                        <select type="number" id="deposit-field" class="form-select form-select-lg"
                            placeholder="Enter depost amount" required formControlName="depositAmount"
                            [ngClass]="{ 'is-invalid': submitted && accountForm.controls['depositAmount'].errors }">
                            <option *ngFor="let amount of amounts" [value]="amount">
                                {{amount }}
                            </option>
                        </select>
                        <div *ngIf="submitted && accountForm.controls['depositAmount'].errors" class="invalid-feedback"
                            align="left">
                            <div *ngIf="accountForm.controls['depositAmount'].errors['required']">
                                {{'CLIENTACCOUNTS.DEPOSITREQ.TEXT' | translate }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div>
                        <label for="master-password" class="form-label">
                            {{'CLIENTACCOUNTS.MPASS.TEXT' | translate }}
                        </label>
                        <div class="input-group">
                            <div class="position-relative auth-pass-inputgroup col">
                                <input [type]="master?'password':'text'" id="master-password" class="form-control"
                                    readonly placeholder="{{'ENTERMASTERPASS'|translate}}" required
                                    formControlName="masterPassword"
                                    [ngClass]="{ 'is-invalid': submitted && accountForm.controls['masterPassword'].errors }" />
                                <button
                                    [ngClass]="{'me-3':submitted && accountForm.controls['masterPassword'].errors,'end-0':dir==='ltr','start-0':dir==='rtl'}"
                                    class="btn shadow-none btn-link position-absolute  top-0 text-decoration-none text-muted"
                                    (mousedown)="toggelMaster()" type="button"><i class="mdi align-middle" [ngClass]="{'mdi-eye-off-outline': master, 'mdi-eye-outline': !master
                            }"></i></button>
                            </div>
                            <button class="btn btn-outline-success shadow-none" type="button"
                                (mousedown)="generateMasterPassword()">
                                {{'CLIENTACCOUNTS.GPASS.TEXT' | translate }}
                            </button>
                        </div>
                        <input [type]="master?'password':'text'" class="form-control " style="display: none;" readonly
                            placeholder="{{'ENTERMASTERPASS'|translate}}" required
                            [ngClass]="{ 'is-invalid': submitted && accountForm.controls['masterPassword'].errors }" />

                        <div *ngIf="submitted && accountForm.controls['masterPassword'].errors" class="invalid-feedback"
                            align="left">
                            <div *ngIf="accountForm.controls['masterPassword'].errors['required']">
                                {{'CLIENTACCOUNTS.MPASSREQ.TEXT' | translate }}


                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-lg-12">
                    <div>
                        <label for="c-master-password" class="form-label">
                            {{'CLIENTACCOUNTS.CMPASS.TEXT' | translate }}
                        </label>
                        <div class="input-group">
                            <div class="position-relative auth-pass-inputgroup col">
                                <input [type]="cMaster?'password':'text'" id="c-master-password" class="form-control"
                                    readonly placeholder="{{'ENTERCMPASS'|translate}}" required
                                    formControlName="cMasterPassword"
                                    [ngClass]="{ 'is-invalid': submitted && accountForm.controls['cMasterPassword'].errors }" />
                                <button
                                    [ngClass]="{'me-3':submitted && accountForm.controls['cMasterPassword'].errors ,'end-0':dir==='ltr','start-0':dir==='rtl'}"
                                    class="btn shadow-none btn-link position-absolute top-0 text-decoration-none text-muted"
                                    (mousedown)="cMaster = !cMaster" type="button"><i class="mdi align-middle"
                                        [ngClass]="{'mdi-eye-off-outline': cMaster, 'mdi-eye-outline': !cMaster
                            }"></i></button>
                            </div>
                        </div>
                        <input [type]="master?'password':'text'" class="form-control " style="display: none;" readonly
                            placeholder="Enter master password" required
                            [ngClass]="{ 'is-invalid': submitted && accountForm.controls['cMasterPassword'].errors }" />

                        <div *ngIf="submitted && accountForm.controls['cMasterPassword'].errors"
                            class="invalid-feedback" align="left">
                            <div *ngIf="accountForm.controls['cMasterPassword'].errors['required']">
                                {{'CLIENTACCOUNTS.MPASSREQ.TEXT' | translate }}
                            </div>

                        </div>


                    </div>
                </div>
                <div class="col-12">

                    <div id="password-contain" class="p-3 bg-light mb-2 rounded">
                        <h5 class="fs-13">{{'PASSMUSTCONTAIN'|translate}}</h5>
                        <p id="pass-length" class="invalid fs-12 mb-2" [ngClass]="{'before-rtl':dir==='rtl'}">
                            {{"MIN8"|translate}}
                        </p>
                        <p id="pass-lower" class="invalid fs-12 mb-2" [ngClass]="{'before-rtl':dir==='rtl'}">
                            {{"LOWER"|translate}}
                        </p>
                        <p id="pass-upper" class="invalid fs-12 mb-2" [ngClass]="{'before-rtl':dir==='rtl'}">
                            {{"UPPER"|translate}}</p>
                        <p id="pass-number" class="invalid fs-12 mb-2" [ngClass]="{'before-rtl':dir==='rtl'}">
                            {{"ONENUMBER"|translate}}</p>
                        <p id="pass-match" class="invalid fs-12 mb-0" [ngClass]="{'before-rtl':dir==='rtl'}">
                            {{"MUSTMATCH"|translate}}</p>
                    </div>
                </div>

                <div class="col-lg-12 cursor-pointer">
                    <div class="d-flex mb-2 justify-content-start" [style.direction]="dir">

                        <input class="form-check-input cursor-pointer" type="checkbox" id="formCheck1"
                            [checked]="!hideInvestor" (change)="hideInvestor = !hideInvestor">
                        <label class="form-check-label me-2 ms-2" for="formCheck1">
                            {{"SETIPASS"|translate}}
                        </label>
                    </div>
                </div>
                <!--end col-->
                <div class="col-lg-12" *ngIf="!hideInvestor">
                    <div>
                        <label for="investor-password" class="form-label">
                            {{'CLIENTACCOUNTS.IPASS.TEXT' | translate }}

                        </label>
                        <div class="input-group ">
                            <!-- <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2"> -->
                            <div class="position-relative auth-pass-inputgroup col">

                                <input [type]="investor?'password' : 'text'" id="investor-password" class="form-control"
                                    onfocus="this.removeAttribute('readonly');" readonly
                                    placeholder="{{'ENTERIPASS'|translate}}" formControlName="investorPassword"
                                    [ngClass]="{ 'is-invalid': submitted && investorInvalid }" />
                                <button
                                    [ngClass]="{'me-3':submitted && investorInvalid,'end-0':dir==='ltr','start-0':dir==='rtl'}"
                                    class="btn shadow-none btn-link position-absolute  top-0 text-decoration-none text-muted"
                                    (mousedown)="toggelInvestor()" type="button"><i class="mdi align-middle" [ngClass]="{'mdi-eye-off-outline': investor, 'mdi-eye-outline': !investor
                                }"></i></button>
                            </div>
                            <button class="btn btn-outline-success shadow-none" type="button"
                                (mousedown)="generateInvertorPassword()">{{'CLIENTACCOUNTS.GPASS.TEXT' | translate }}
                            </button>
                        </div>
                        <input style="display: none;" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && investorInvalid }" />
                        <!--                   
                    <div *ngIf="submitted && investorInvalid" class="invalid-feedback"
                        align="left">
                        <div *ngIf="investorInvalid">Investor password is
                            required
                        </div>
                        
                    </div> -->

                    </div>
                </div>
                <!--end col-->

            </div>
            <!--end row-->

            <div class="modal-footer mt-4 ">
                <div class="hstack gap-2 justify-content-end ">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal"
                        (click)="accountForm.reset();submitted = false">
                        {{'CLIENTACCOUNTS.RESET.TEXT' | translate }}
                    </button>
                    <button type="submit" class="btn btn-success" id="add-btn">
                        {{'CLIENTACCOUNTS.ADDACC.TEXT' | translate }}

                    </button>
                </div>
            </div>
        </form>
        <div class="col-lg-12 text-center">

            <div class="spinner-border text-primary" *ngIf="creating" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</div>