<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title" >
        {{'CLIENTACCOUNTS.CIPASS.TEXT' | translate }}
        </h4>
    <button type="button" class="btn-close" aria-label="Close"(mousedown)="close()" ></button>
</div>
    <div class="modal-body">
        <div class="row g-3">
                        <form [formGroup]="changePasswordForm" (ngSubmit)="changeInvestorPassword()">

                        

                            <div class="mb-3">
                                <!-- <div class="float-end">
                                    <a routerLink="/pass-reset/basic" class="text-muted">Forgot investorPassword?</a>
                                </div> -->
                                <label class="form-label" for="investorPassword-input">
                                    {{'CLIENTACCOUNTS.IPASS.TEXT' | translate }}
                                    </label>
                                <div class="position-relative auth-pass-inputgroup mb-3">
                                    <input [type]="fieldTextType ? 'text' : 'password'" class="form-control pe-5" placeholder="Enter investor password" id="investorPassword-input" formControlName="investorPassword"
                                    [ngClass]="{ 'is-invalid': submitted && f['investorPassword'].errors }">
                                    <button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted" type="button" id="investorPassword-addon" (click)="toggleFieldTextType()"><i class="mdi align-middle" [ngClass]="{'mdi-eye-off-outline': !fieldTextType, 'mdi-eye-outline': fieldTextType
                                    }" ></i></button>
                                    <div *ngIf="submitted && f['investorPassword'].errors" class="invalid-feedback">
                                      <span *ngIf="f['investorPassword'].errors['required']">
                                        {{'CLIENTACCOUNTS.IPASSREQ.TEXT' | translate }}
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="mt-4">
                                <button class="btn btn-success w-100" type="submit">
                                    {{'CLIENTACCOUNTS.CIPASS.TEXT' | translate }}
                                    </button>
                            </div>
                        </form>
        
        </div>
           
        
        
    </div>

       
